<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>D Italia | Contacto</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
  </head>

  <body>

   <header th:insert="~{fragmentos/encabezado.html::main-menu}"></header>

    <main role="main">     
      <hr>
      <div class="container"> 
        <!--<div class="card">-->
			<br>
          <h4 class="card-header">Contacto </h4>   
          <br>           
          <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <div class="card">
                <div class="card-body">
                <center>
               <iframe src="https://www.google.com/maps/embed?pb=!4v1679722368049!6m8!1m7!1s2t3R9lpk2YJ5UyqWSocBTw!2m2!1d19.44147489699138!2d-99.13533414107286!3f89.82!4f-11.480000000000004!5f0.7820865974627469" width="400" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </center>
            </div>
              </div>
            </div>
            
            <div class="col-sm-6">
            <div class="card">
              <div class="card-header">
              <strong> Contáctanos</strong> 
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Correo: </strong>ditalia@gmail.com</li>
                <li class="list-group-item"><strong>Número teléfonico: </strong>55 9133 8243</li>
                <li class="list-group-item"><strong>Redes sociales: <i class="fab fa-facebook"> Facebook </i> &nbsp;&nbsp; <i class="fab fa-instagram"> Istagram</i></strong></li>
                <li class="list-group-item"><strong>Dirección:  </strong> Calle Comonfort No. 7A Colonia Centro C.P 06010 Alcaldía Cuahutémoc, Ciudad de México </li>
              </ul>
            </div>
            </div>
          </div>
          
       <!--</div>--> 
        
      </div> <!-- /container -->

    </main>
     <hr>
	<footer class="footer" th:insert="~{fragmentos/pie.html::foot-page}"></footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>     
  </body>
</html>
