<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="favicon.ico">

	<title>D'Italia | Listado de Perfiles</title>
	<!-- Bootstrap core CSS -->
	<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
	<link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
	<link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
</head>

  <body>

    <header th:insert="~{fragmentos/encabezado.html::main-menu}"></header>

    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Listado de Perfiles</strong></h4>              
          <div class="card-body">            
            <!--<a class="btn" style="background-color: #b8a076; color: white;" th:href="@{/perfiles/nueva}" role="button">
				<i class="fas fa-plus" aria-hidden="true"></i> Nuevo</a>-->
            <hr>
            <div class="alert alert-success" role="alert" th:if="${msg!=null}" th:text="${msg}"></div>
            <table class="table table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Id</th>                 
                  <th scope="col">Perfil</th>
                  <th scope="col">Operaciones</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="perfil:${perfiles}">
                  <td th:text="${perfil.id}"></td>                 
                  <td th:text="${perfil.perfil}"></td>
                  <td>
                    <a th:href="@{/perfiles/eliminar(id=${perfil.id})}" onclick="return confirm('¿Estas seguro?')" class="btn btn-success btn-sm" role="button" title="Eliminar el registro."><i class="fas fa-trash" aria-hidden="true"></i></a>
                    <a th:href="@{/perfiles/bloquear(id=${perfil.id})}" onclick="return confirm('¿Quiere bloquear el acceso al usuario?')" class="btn btn-success btn-sm" role="button" title="Bloquear el acceso al sistema para este usuario."><i class="fas fa-lock" aria-hidden="true"></i></a>	
                    <a th:href="@{/perfiles/desbloquear(id=${perfil.id})}" onclick="return confirm('¿Desea desbloquear el usuario?')" class="btn btn-success btn-sm" role="button" title="Permitir el acceso al sistema a este usuario."><i class="fas fa-unlock" aria-hidden="true"></i></a>
                  </td>
                </tr>                                            
              </tbody>
            </table>            
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer class="footer" th:insert="~{fragmentos/pie.html::foot-page}"></footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>     
  </body>
</html>
