<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #b8a076;" th:fragment="main-menu">
        <a class="navbar-brand" th:href="@{/}">D´Italia</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link active" th:href="@{/}">Inicio</a>
            </li>
            <li class="nav-item" sec:authorize="hasAnyAuthority('Administrador')">
              <a class="nav-link active" th:href="@{/categoria/index}">Categorias</a>
            </li>
            <li class="nav-item" sec:authorize="hasAnyAuthority('Administrador')">
              <a class="nav-link active" th:href="@{/vestidos/indexPaginado}">Vestidos</a>
            </li>  
            <li class="nav-item" sec:authorize="hasAnyAuthority('Administrador')">
              <a class="nav-link active" th:href="@{/accesorios/indexPaginado}">Accesorios</a>
            </li> 
            <li class="nav-item" sec:authorize="hasAnyAuthority('Administrador')">
              <a class="nav-link active" th:href="@{/reservaciones/indexPaginado}">Reservaciones</a>
            </li> 
            <li class="nav-item" sec:authorize="hasAnyAuthority('Administrador')">
              <a class="nav-link active" th:href="@{/usuarios/index}">Usuarios</a>
            </li> 
            <li class="nav-item" sec:authorize="hasAnyAuthority('Administrador')">
              <a class="nav-link active" th:href="@{/perfiles/index}">Perfiles</a>
            </li>  
            <li class="nav-item">
              <a class="nav-link active" th:href="@{/acerca}">Acerca</a>
            </li>
             <li class="nav-item">
              <a class="nav-link active" th:href="@{/contacto}">Contacto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" th:href="@{/mision}">Misión y Visión</a>
            </li>        
          </ul>  
          <!--<a class="btn btn-light" th:href="@{/login}">Ingresar</a>&nbsp;
          <a class="btn btn-light" th:href="@{/signup}">Registrarse</a>&nbsp;
          <a class="btn" style="background-color: rgb(255, 128, 128); color: white;" sec:authorize="hasAnyAuthority('Administrador','Usuario')" th:href="@{/logout}">Salir</a>-->
          <div class="d-flex" role="search" style="padding-right: 20px;">
	          <div sec:authorize="isAnonymous()">
			    <a class="btn btn-light" th:href="@{/login}">Ingresar</a>&nbsp;
	          	<a class="btn btn-light" th:href="@{/signup}">Registrarse</a>&nbsp;
			  </div>
	          <div sec:authorize="isAuthenticated()">
				<span class="text-light"><strong>Bienvenido: </strong></span>
				<span class="text-light" sec:authentication="name" style="padding-right: 20px;"></span>&nbsp;&nbsp;
				<a class="btn" style="background-color: rgb(255, 128, 128); color: white;" th:href="@{/logout}">Salir</a> 
			  </div>
          </div>
        </div>
      </nav>